<div class="container">

  <h1><%= t('.header') %></h1>

  <p class="fw-bold">
  <%= link_to t('admin.links.new'), new_admin_test_path, class: "link-secondary text-decoration-none" %>
  </p>

  <div class="col-6 align-self-start">
    <% if @tests.present? %>
      <table class="table table-borderless table-hover table-sm">
        <thead>
          <tr>
            <th scope="col"><%= t('.title') %></th>
            <th scope="col"><%= t('.level') %></th>
            <th scope="col"><%= t('.questions') %></th>
            <th scope="col"><%= t('.actions') %></th>
          </tr>
        </thead>
        <%= render @tests %>
      </table>

      <table class="table table-borderless table-hover table-sm">
        <thead>
        <tr>
          <th scope="col"><%= t('.question') %></th>
          <th scope="col"><%= t('.user') %></th>
          <th scope="col"><%= t('.gist_url') %></th>
        </tr>
        </thead>
        <%= render @gists %>
      </table>
    <% else %>
      <p>You haven't tests in progress</p>
    <% end %>
  </div>
</div>

