<!DOCTYPE html>
<html>
  <head>
    <title>TestGuru</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%= yield %>
  </body>

  <footer>
    <br>
    <p>Created by Kseniia <%= current_year %></p>
    <p><%= github_url('VorobevaKseniia', 'TestGuru') %> project is designed to create, manage and execute various tests.</p>
    <p>Learning project at <a href="http://www.thinknetica.com/" target="_blank">Thinknetica</a> online school</p>
  </footer>
</html>
